/* <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title> */
/* <style> */
.navbar-item{
   display: inline-flex;
   float: right;
   padding-left: 50%;
   
}
body{
   margin:0px;
   margin-top:60px;
   padding: 0px;
}
nav{
   display: flex;
   position: fixed;
   top:0;
   width: 100%;
   background-color: rgb(251, 255, 196);
   overflow: auto;
   height: auto;
   float: r;
}
.left-links{
   flex:1 1 200px;
}
 .links,navbar-item {
   display: inline-block;
   text-align: center;
   padding: 14px;
   color: rgb(0, 0, 0);
   text-decoration: none;
   font-size: 17px;
   font-weight: bolder;
}
.links:hover {
   border-bottom: 2px solid purple;
}
.selected{
   border-bottom: 2px solid purple;
}


/* </style>
</head> */