/* I can use element or its attribute like class and id */
/* . = class
# = id */

.red {
  background-color: yellowgreen;
}

#green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.navbar-item {
  display: inline-flex;
  float: right;
}

.navbar-item > span {
  margin: 20px;
}

.red > .blue {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
